<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edward.css">
    <title>Document</title>
</head>
<body>
    <section class="container">

                <div class="tituloformacion">
                    <div class="recuadroh1">
                        <h1>informacion academica</h1>
                    </div>  
                </div>

                <div class="informacion">
                    <div class="titulo">
                        <h2>Titulos</h2>
                        <div>
                            <input class="inputTexto"  type="text" name="" id="">
                            <button>Agregar</button>
                            
                        </div>
                    </div>
                </div>
            
                <div class="informacion">
                    <div class="titulo">
                        <h2>Nivel academico</h2>
                        <div>
                            
                                <select name="color" id="color">
                                    <option value="r">bachiller</option>
                                    <option value="a">Tecnico</option>
                                    <option value="v">pregrado</option>
                                    <option value="c">prosgrado</option>
                                    <option value="d">doctorado</option>
                                  </select>
                            
                            <button>Agregar</button>
                            
                        </div>
                    </div>
                </div>
            
                <div class="informacion">
                    <div class="titulo">
                        <h2>Certificados</h2>
                        <div>
                            <input class="inputTexto" type="text" name="" id="">
                            <button>Agregar</button>
                            <div class="fecha_finalizacion">
                                <h2>Fecha de finalizacion</h2>
                                <input class="inputFinal"type="date" id="start" name="trip-start" value="2022-07-22" min="1980-01-01" max="2025-12-31">
                            </div>
                        </div>
                    </div>
                </div>
            
            
                <div class="estudio_actual">
                    <h2>Estudias actualmente</h2>
                    <div class="botones_negacion">
                        <button>Si</button>
                        <button>No</button>
                    </div>
                </div>
            <div>
                
            </div>
            
    </section>
</body>
</html>