<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edward.css">
    <title>Document</title>
</head>
<body>
    <section class="container">
            <section class="mainInfo">
                <div class="informacion">
                    <div class="recuadroh1">
                        <h1>informacion academica</h1>
                    </div>
                    <div class="titulo">
                        <h2>Titulos</h2>
                        <div>
                            <input type="text" name="" id="">
                            <button>Agregar</button>
                            <div class="fecha_finalizacion">
                                <h2>Fecha de finalizacion</h2>
                                <input type="text" name="" id="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nivelAcademico">
                <div class="informacion">
                    <div class="titulo">
                        <h2>Nivel academico</h2>
                        <div>
                            <input type="text" name="" id="">
                            <button>Agregar</button>
                            <div class="fecha_finalizacion">
                                <h2>Fecha de finalizacion</h2>
                                <input type="text" name="" id="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="certificados">
                <div class="informacion">
                    <div class="titulo">
                        <h2>Titulos</h2>
                        <div>
                            <input type="text" name="" id="">
                            <button>Agregar</button>
                            <div class="fecha_finalizacion">
                                <h2>Fecha de finalizacion</h2>
                                <input type="text" name="" id="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="estudias">
                <div>
                    <h1>estudias actualmente</h1>
                    <div class="botones_negacion">
                        <button>Si</button>
                        <button>No</button>
                    </div>
                </div>
            </section>
    </section>
</body>
</html>