<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Laboral</title>

    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <header>
        <div class="vacio"></div>
        <div class="logo"> 
            <img src="../..//img/Group 23.png" alt="">
        </div>
        <div class="cabecera-3p" >
            <button class="btn-salir">Salir</button>
        </div>
    </header>
    <aside>
        <div class="sup-aside">
            <div class="foto-perfil">
                <img src="../../img/Ellipse 3.png" alt="">
            </div>
            <div class="nombre-perfil">Juani</div>
            <div class="rol-perfil">Egresado</div>
        </div>
        <div class="inf-aside">
            <button class="btn-inicio btn1"> Inicio</button>
            <button class="btn-registro btn2">Registro</button>
            <button class="btn-info-pers btn1 btn-p">Información Personal </button>
            <button class="btn-info-lab btn2 btn-p">Información Laboral</button>
            <button class="btn-info-acad btn1 btn-p">Información Academica</button>
        </div> 
    </aside>

    <div class="cuerpo">
        <div class="cont-cuerpo">
            <div class="cont-izq">
                <div class="tit-info">Información Laboral</div>
                <div class="foto-perfil-cont">
                    <img src="../../img/Ellipse 3.png" alt="">
                </div>
                <button class="btn-examinar">Examinar</button>
                <p>Descripción</p>
                <form action="">
                    <input class="form-desc" type="text" placeholder="">
                </form>
            </div>
            <div class="cont-der">
                <div class="cont-form">
                    <form>
                        <p class="name-p">Nombre</p>
                        <input id="nombre-p" class="form-item-1" type="text"><br>
                        <p>Apellido</p>
                        <input id="apellido-p" class="form-item-1" type="text"><br>
                        <div class="form-doc">
                            <div>
                                <p>Tipo Documento</p>
                                <select name="" id="tipodoc-p" class="form-item-id">
                                    <option value="">CC</option>
                                    <option value="">TI</option>
                                    <option value="">CE</option>
                                    <option value="">Permiso Especial</option>
                                </select>
                            </div>
                            <div>
                                <p class="num-id">Numero Documento</p>
                                <input id="numdoc-p"  class="form-item-num-id" type="text"><br>
                            </div>
                        </div>
                        <p>Ciudad de residencia</p>
                        <input id="ciudad-p" class="form-item-1" type="text"><br>
                        <p>Nacionalidad</p>
                        <input id="nacion-p" class="form-item-1" type="text"><br>
                        <p>Correo</p>
                        <input id="correo-p" class="form-item-1" type="email"><br>
                        <p>Numero de Contacto</p>
                        <input id="telefono-p" class="form-item-1" type="text"><br>
                        <p>¿Estás en busca de empleo?</p>
                        <input id="empleo-p" class="form-item-1" type="text"><br>
                        <div class="submit">
                            <div >
                                <button class="btn-aceptar">Aceptar</button>
                            </div>
                            <div >
                                <button class="btn-cancelar">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
    </div>
       
</body>
</html>